body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #282828;
    font-weight: 300;
}

a {
    color: #ff4d46;
}

.site-header > .navbar {
    font-size: 0.875rem;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}

.site-header .navbar-nav .nav-link {
    color: #000000;
}

.site-header .form-inline .btn-link {
    border: 1px solid #e8e8e8;
    color: #282828;
    font-size: 0.875rem;
    text-decoration: none;
    min-width: 100px;
    padding: 0 10px;
    line-height: 40px;
}

.site-header .form-inline .btn-link-hover:hover {
    color: #ffffff;
    background-color: #ff4d46;
    border-color: #ff4d46;
}

.site-header .user-panel .user-photo {
    border-radius: 50%;
    border: 2px solid #e8e8e8;
}

.site-header .user-panel .dropdown-menu {
    width: 100%;
    border: 0;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.08);    
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.08); 
}

.site-header .user-panel .dropdown-item:focus, 
.site-header .user-panel .dropdown-item:hover {
    color: #ffffff;
    background-color: #ff4d46;
}

.site-header .user-panel .dropdown-item.active, 
.site-header .user-panel .dropdown-item:active {
    color: #ffffff;
    background-color: #ff4d46;
}

img {
    max-width: 100%;
    height: auto;
}

.btn-primary {
    color: #ffffff;
    background: #ff4c44;
    border-color: #ff4c44;
    padding: 0.4375rem 1.5rem 0.4375rem 1.5rem;
    font-size: 1rem;
}

.has-rightArrow.btn-primary {
    padding-right: 1rem;
}

.btn .fa {
    margin-left: 0.625rem;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(225,83,97,.5);
}

.btn-primary:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}

.has-rightArrow:after {
    content:"\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    margin-left: 0.625rem;
    vertical-align: top;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(225,83,97,.5);
}

.hero-section {
    background: #f4f4f5 url(../img/hero.jpg) no-repeat center top;
    background-size: cover;
}

.hero-section h1 {
    font-weight: 600;
}

.hero-section strong {
    font-weight: 500;
}

.h2 {
    font-size: 1.875rem;
    font-weight: 500;
}

.h5 {
    color: #ff4c44;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
}

.transText {
    font-weight: 700;
    color: #f3f3f9;
    font-size: 122px;
    line-height: 1;
    opacity: 0.3;
    position: relative;
    top: -25px;
    z-index: -1;
}

.section {
    line-height: 1.7;
}

.section1 {
    background: url(../img/shape1.jpg) no-repeat center bottom;
}

.section1 .s1p {
    padding-top: 80px;
}

.section1 .s2p {
    padding-top: 110px;
    background: url(../img/valor-image.png) no-repeat right bottom 50px;
    background-size: auto 460px;
    min-height: 570px;
}

.section2 {
    background: #2b2b2b url(../img/bg1.jpg) no-repeat center;
    color: #fff;
    padding: 120px 0 100px;
}

.max768 {
    max-width: 768px;
    margin: 0 auto;
}

.section3 {
    background: url(../img/shape2.png) no-repeat center bottom;
    padding: 80px 0 1px;
}

.section4 {
    padding: 60px 0 20px;
    background: url(../img/shape-3.jpg) no-repeat center bottom;
}

.vcard {
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); 
    padding: 60px;
    border-radius: 10px;
    margin: 3rem 0 0;
}

.vcard .h2 {
    margin-bottom: 40px;
}

.vcard p:last-of-type {
    margin-bottom: 0;
}

.vcard .btn {
    margin-top: 50px;
    min-width: 200px;
    text-align: center;
}

.bg-red  {
    background: #ff4c44;
}

.bg-red .btn-primary {
    background: #fff;
    border-color: #fff;
    color: #000;
}

.btn-outline-primary {
    color: #ff4c44;
    border-color: #ff4c44;
    border-radius: 0;
    font-size: 0.75rem;
    padding: 0.4375rem 1rem;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #ff4c44;
    border-color: #ff4c44;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
}

.section5 {
    padding-top: 20px;
    padding-bottom: 30px;
}

.section5 .transText {
    top: auto;
}

.review--cards-holder .h5 {
    margin-bottom: 0.5rem;
}

.review--cards-holder {
    padding-top: 40px;
}

.review-cards {
    padding-top: 50px;
}

.review-card {
    background: #fff url(../img/quotes-icon.jpg) no-repeat right 20px bottom;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); 
    border-radius: 5px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 0.75rem;
    padding: 30px 50px 30px 20px;
    margin-bottom: 30px;
}

.review-card .review-photo {
    margin-right: 20px;
}

.review-card .review-body {
    -ms-flex: 1;
    flex: 1;   
}

.review-card .review-body h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.review-card .review-body .btn {
    min-width: 150px;
}

.regForm {
    background: #f8f8fd;
    max-width: 460px;
    margin-top: 20px;
    padding-bottom: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
}

.regForm h4 {
    font-weight: 500;
    font-size: 1.75rem;
    padding: 30px 50px 25px 50px;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}

.regForm .regForm-body {
    padding: 0 50px;
}

.regForm .regForm-body .form-group {
    margin-bottom: 7px;
}

.regForm .input-field {
    background: #fafafa;
    border: 1px solid #f8f8fd;
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    color: #000;
    font-size: 0.875rem;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3); 
}

.regForm .input-field:focus {
    outline: 0;
    background: #f1f1f1;
}

.regForm .regForm-body button[type="submit"] {
    font-weight: 400;
    font-size: 1rem;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-top: 30px;
}

.log-alt {
    padding: 30px 50px 30px 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    font-size: 0.75rem;
}

.log-alt > span {
    margin-bottom: 15px;
}

.log-alt2 {
    padding: 0 50px 0 50px;
    text-align: center;
    font-size: 1rem;
}

.log-alt2 .btn-outline-primary {
    color: #ff4c44;
    border-radius: 3px;
    width: 100%;
    max-width: 300px;
    display: block;
    margin: auto;
    font-size: 1rem;
    background: #fff;
    padding: 8px 15px;
}

.site-footer {
    background: #262626;
    color: #fff;
    padding: 70px 0 50px;
}

.site-footer a {
    color: #fff;
}

.site-footer a:hover {
    color: #f2f2f2;
    text-decoration: none;
}

.site-footer .footer-links ul {
    list-style: none;
    padding: 0.5rem 0 0;
    margin: 0;
}

.site-footer .footer-links ul > li {
    position: relative;
    display: block;
    margin-top: 1rem;
}

.site-footer .footer-links ul > li:before {
    content:"\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    margin-right: 0.625rem;
    vertical-align: top;
}

.site-footer .inline-list {
    list-style: none;
    padding: 0 0 30px;
    margin: 0 0 30px;
    border-bottom: 1px solid #1c1c1c;
}

.site-footer .inline-list > li {
    display: inline-block;
    border-right: 1px solid #1c1c1c;
    margin-right: 15px;
}

.site-footer .inline-list > li:last-child {
    margin-right: 0;
    border-right: 0;
}

.site-footer .inline-list > li > a {
    display: block;
    padding: 10px 20px 10px 45px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px auto;
    vertical-align: middle;
}

.site-footer .inline-list > li:last-child > a {
    padding-right: 0;
}

.site-footer .inline-list > li > .chat-icon {
    background-image: url(../img/chat-icon.svg);
}

.site-footer .inline-list > li > .phone-icon {
    background-image: url(../img/phone-icon.svg);
}

.site-footer .inline-list > li > .mail-icon {
    background-image: url(../img/mail-icon.svg);
}

.site-footer .widgettitle {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.site-footer .link-sep > a {
    text-decoration: underline;
}

.has-border-left {
    border-left: 1px solid #1c1c1c;
    padding-left: 2.5rem;
}

.footer-bottom {
    background: #2a2a2a;
    font-weight: 400;
    font-size: 0.75rem;
    padding: 1.25rem 0;
    color: #fff;
}

.footer-bottom .footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-bottom .footer-nav > li {
    display: inline-block;
    margin-right: 1.5rem;
}

.footer-bottom .footer-nav > li > a {
    color: #fff;
}

.footer-bottom .footer-nav > li > a:hover {
    opacity: 0.85;
}

.footer-bottom .copyText {
    font-weight: 600;
}

@media (min-width: 576px) {
    .hero-section {
        padding-top: 100px;
        min-height: 380px;
    }
}

@media (min-width: 768px) {
    .hero-section {
        min-height: 480px;
    }
}

@media (min-width: 992px) {
    .hero-section h1 {
        font-size: 3.75rem;
    }    
    
    .hero-section {
        min-height: 580px;
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
    
    .site-header > .navbar {
        font-size: 0.6875rem;
    }
    
    .site-header .form-inline .btn-link {
        font-size: 0.75rem;
    }
    
    .site-header .user-panel .dropdown-menu {
        font-size: 0.6875rem;
    }
}

@media (max-width: 1199.98px) and (min-width: 768px) {
    .site-header .form-inline .btn-link, 
    .site-header .user-panel {
        width: 48%;
    }
    
    .site-header .user-panel .btn-link {
        width: 100%;
        display: block;
    }
    
    .site-header .user-panel {
        display: block;
    }
}

@media (max-width: 991.98px) {

}

@media (max-width: 767.99px) {
    .site-header .form-inline .btn-link, 
    .site-header .user-panel {
        width: 100%;
        display: block;
    }
    
    .site-header .user-panel {
        margin-top: 0.5rem;
    }
}


@media (max-width: 575.99px) {
    .hero-section {
        background-image: url(../img/hero-sm.jpg);
        background-position: center top;
        color: #fff;
        font-size: 0.875rem;
        text-align: center;
    }
    
    .hero-section h1 {
        font-size: 1.5rem;
    }
    
    .hero-section .hero-section-inner {
        background: rgba(0,0,0,0.15);
        padding-top: 280px;
    }
}